In [1]:
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.common.keys import Keys

In [2]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)
url = 'https://www.carwale.com/'
driver.get(url)

In [3]:
clk = driver.find_element_by_xpath('//div[@class="o-bfyaNx o-dJmcbh o-eCFISO o-djSZRV o-fEEqXL o-bXKmQE"]')
clk.click()

In [4]:
key1 = driver.find_element_by_xpath('//input[@class="o-dqBOwT o-cKuOoN o-eZCpVk o-bfyaNx o-eZTujG o-jjpuv o-fzptVd o-fzptYr o-fEEqXL o-eKWNKE o-bIMsfE o-ItVGT  o-fznJFI E6NC89 _2XUNC9 _2aq9yP  E6NC89 "]')
key1.send_keys('Mumbai')
time.sleep(1)
clk1 = driver.find_element_by_xpath('//div[@class="o-lIIwF"]')
clk1.click()

In [6]:
srch = driver.find_element_by_xpath('//input[@class="cityName ui-autocomplete-input blur inputBlur"]')
srch.send_keys('Mumbai, Maharashtra')
time.sleep(1)
srch.send_keys(Keys.ENTER)

In [8]:
bod = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/h3')
bod.click()
time.sleep(1)
hat = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/div/ul/li[1]')
hat.click()

In [9]:
for i in range(0,500):
    driver.execute_script("window.scrollBy(0,5000)")

In [10]:
hatch_url = []
hatch = driver.find_elements_by_xpath('//a[@id="linkToDetails"]')

for i in hatch:
    hatch_url.append(i.get_attribute('href'))
len(hatch_url)

246

In [22]:
price = []
year = []
make = []
model = []
fuel = []
trans = []
location = []
mile = []
color = []
owner =[]
engine = []
seating = []

for link in hatch_url:
    driver.get(link)
    time.sleep(3)
    try:
        pri = driver.find_element_by_xpath('//p[@class="used-actual"]')
        price.append(pri.text.replace('â‚¹','').replace('Lakh',''))
    except NoSuchElementException:
        price.append('-')
        
    try:
        yea = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[2]//div[2]')
        year.append(yea.text)
    except NoSuchElementException:
        year.append('-')
        
    try:
        mak = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[4]/a/span')
        make.append(mak.text)
    except NoSuchElementException:
        make.append('-')
        
    try:
        fu = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[4]//div[2]')
        fuel.append(fu.text)
    except NoSuchElementException:
        fuel.append('-')
        
    try:
        tr = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[5]//div[2]')
        trans.append(tr.text)
    except NoSuchElementException:
        trans.append('-')
        
    try:
        loc = driver.find_element_by_xpath('//div[@class="inline-block carlocationTxt break-word"]//p//span')
        location.append(loc.text)
    except NoSuchElementException:
        location.append('-')
        
    try:
        mod = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[5]/a/span')
        model.append(mod.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        mil = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[3]//div[2]')
        mile.append(mil.text.replace(',','').replace('km',''))
    except NoSuchElementException:
        mile.append('-')

    try:
        col = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[7]//div[2]')
        color.append(col.text)
    except NoSuchElementException:
        color.append('-')

    try:
        own = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[9]//div[2]')
        owner.append(own.text)
    except NoSuchElementException:
        owner.append('-')
    time.sleep(2)

    try:
        driver.find_element_by_xpath('//div[@class="cw-tabs cw-tabs-flex cw-tabs-inner-margin0"]//li[3]').click()
        time.sleep(2)
        eng = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[1]/div[2]')
        engine.append(eng.text)
    except NoSuchElementException:
        engine.append('-')
        
    try:
        sea = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[3]/div[4]')
        seating.append(sea.text.replace('Person',''))
    except NoSuchElementException:
        seating.append('-')

In [23]:
hatch_mum = pd.DataFrame({})
hatch_mum['price'] = price
hatch_mum['year'] = year
hatch_mum['make'] = make
hatch_mum['model'] = model
hatch_mum['fuel'] = fuel
hatch_mum['trans'] = trans
hatch_mum['location'] = location
hatch_mum['mile'] = mile
hatch_mum['color'] = color
hatch_mum['owner'] = owner
hatch_mum['engine'] = engine
hatch_mum['seating'] = seating
hatch_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating
0,3.35,Jun 2011,Hyundai,i20,Petrol,Manual,Thane,19130,White,First,-,-
1,4.2,Jun 2014,Maruti Suzuki,Swift,Petrol,Manual,Thane,56123,Red,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
2,5.65,Jun 2017,Hyundai,Grand i10,Petrol,Automatic,Mumbai,44284,White,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
3,10.74,Jun 2020,Volkswagen,Polo,Petrol,Automatic,Mumbai,9100,Red,UnRegistered Car,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
4,3.2,May 2013,Maruti Suzuki,Wagon R,Petrol,Manual,Mumbai,41846,Brown,First,"998 cc, 3 Cylinders 4 Valves/Cylinder",5

In [24]:
hatch_mum['year'] = pd.to_numeric(hatch_mum['year'].str.split(' ', expand = True)[1])

In [25]:
hatch_mum

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating
0,3.35,2011.0,Hyundai,i20,Petrol,Manual,Thane,19130,White,First,-,-
1,4.2,2014.0,Maruti Suzuki,Swift,Petrol,Manual,Thane,56123,Red,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
2,5.65,2017.0,Hyundai,Grand i10,Petrol,Automatic,Mumbai,44284,White,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
3,10.74,2020.0,Volkswagen,Polo,Petrol,Automatic,Mumbai,9100,Red,UnRegistered Car,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
4,3.2,2013.0,Maruti Suzuki,Wagon R,Petrol,Manual,Mumbai,41846,Brown,First,"998 cc, 3 Cylinders 4 Valves/Cylinder",5
...,...,...,...,...,...,...,...,...,...,...,...,...
241,4.75,2014.0,Maruti Suzuki,Swift,Diesel,Manual,Mumbai,72000,Grey,First,"1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
242,3.24,2012.0,Hyundai,i10,Petrol,Automatic,Mumbai,30000,White,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
243,7.25,2018.0,Maruti Suzuki,Baleno,Petrol,Automatic,Mumbai,26200,Silver,Second,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
244,5,2016.0,Maruti Suzuki,Swift,Diesel,Manual,Mumbai,50900,Grey,First,"1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
245,2.7,2016.0,Renault,Kwid,Petrol,Manual,Mumbai,39600,Silver,Second,"799 cc, 3 Cylinders Inline, 4 Valves/Cylinder,...",5

In [26]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)
url = 'https://www.carwale.com/'
driver.get(url)

In [ ]:
clk = driver.find_element_by_xpath('//div[@class="o-bfyaNx o-dJmcbh o-eCFISO o-djSZRV o-fEEqXL o-bXKmQE"]')
clk.click()
time.sleep(2)
key1 = driver.find_element_by_xpath('//input[@class="o-dqBOwT o-cKuOoN o-eZCpVk o-bfyaNx o-eZTujG o-jjpuv o-fzptVd o-fzptYr o-fEEqXL o-eKWNKE o-bIMsfE o-ItVGT  o-fznJFI E6NC89 _2XUNC9 _2aq9yP  E6NC89 "]')
key1.send_keys('Mumbai')
time.sleep(1)
clk1 = driver.find_element_by_xpath('//div[@class="o-lIIwF"]')
clk1.click()
time.sleep(4)

In [28]:
srch = driver.find_element_by_xpath('//input[@class="cityName ui-autocomplete-input blur inputBlur"]')
srch.send_keys('Mumbai, Maharashtra')
time.sleep(1)
srch.send_keys(Keys.ENTER)

In [30]:
bod = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/h3')
bod.click()
time.sleep(3)
hat = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/div/ul/li[3]/span[1]')
hat.click()

In [36]:
for i in range(0,500):
    driver.execute_script("window.scrollBy(0,5000)")
    driver.execute_script("window.scrollBy(0,-500)")

In [37]:
suv_url = []
suv = driver.find_elements_by_xpath('//a[@id="linkToDetails"]')

for i in suv:
    suv_url.append(i.get_attribute('href'))
len(suv_url)

247

In [38]:
price = []
year = []
make = []
model = []
fuel = []
trans = []
location = []
mile = []
color = []
owner =[]
engine = []
seating = []

for link in suv_url:
    driver.get(link)
    time.sleep(3)
    try:
        pri = driver.find_element_by_xpath('//p[@class="used-actual"]')
        price.append(pri.text.replace('â‚¹','').replace('Lakh',''))
    except NoSuchElementException:
        price.append('-')
        
    try:
        yea = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[2]//div[2]')
        year.append(yea.text)
    except NoSuchElementException:
        year.append('-')
        
    try:
        mak = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[4]/a/span')
        make.append(mak.text)
    except NoSuchElementException:
        make.append('-')
        
    try:
        fu = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[4]//div[2]')
        fuel.append(fu.text)
    except NoSuchElementException:
        fuel.append('-')
        
    try:
        tr = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[5]//div[2]')
        trans.append(tr.text)
    except NoSuchElementException:
        trans.append('-')
        
    try:
        loc = driver.find_element_by_xpath('//div[@class="inline-block carlocationTxt break-word"]//p//span')
        location.append(loc.text)
    except NoSuchElementException:
        location.append('-')
        
    try:
        mod = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[5]/a/span')
        model.append(mod.text)
    except NoSuchElementException:
        model.append('-')
        
    try:
        mil = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[3]//div[2]')
        mile.append(mil.text.replace(',','').replace('km',''))
    except NoSuchElementException:
        mile.append('-')

    try:
        col = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[7]//div[2]')
        color.append(col.text)
    except NoSuchElementException:
        color.append('-')

    try:
        own = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[9]//div[2]')
        owner.append(own.text)
    except NoSuchElementException:
        owner.append('-')
    time.sleep(2)

    try:
        driver.find_element_by_xpath('//div[@class="cw-tabs cw-tabs-flex cw-tabs-inner-margin0"]//li[3]').click()
        time.sleep(2)
        eng = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[1]/div[2]')
        engine.append(eng.text)
    except NoSuchElementException:
        engine.append('-')
        
    try:
        sea = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[3]/div[4]')
        seating.append(sea.text.replace('Person',''))
    except NoSuchElementException:
        seating.append('-')

In [48]:
suv_mum = pd.DataFrame({})
suv_mum['price'] = price
suv_mum['year'] = year
suv_mum['make'] = make
suv_mum['model'] = model
suv_mum['fuel'] = fuel
suv_mum['trans'] = trans
suv_mum['location'] = location
suv_mum['mile'] = mile
suv_mum['color'] = color
suv_mum['owner'] = owner
suv_mum['engine'] = engine
suv_mum['seating'] = seating
suv_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating
0,3.35,Jun 2011,Hyundai,i20,Petrol,Manual,Thane,19130,White,First,-,-
1,4.2,Jun 2014,Maruti Suzuki,Swift,Petrol,Manual,Thane,56123,Red,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
2,5.65,Jun 2017,Hyundai,Grand i10,Petrol,Automatic,Mumbai,44284,White,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
3,10.74,Jun 2020,Volkswagen,Polo,Petrol,Automatic,Mumbai,9100,Red,UnRegistered Car,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
4,3.2,May 2013,Maruti Suzuki,Wagon R,Petrol,Manual,Mumbai,41846,Brown,First,"998 cc, 3 Cylinders 4 Valves/Cylinder",5

In [49]:
suv_mum.tail(10)

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating
484,7.25,Mar 2018,Tata,Nexon,Petrol,Manual,Mumbai,9860,Red,First,"1198 cc, 3 Cylinders Inline, 4 Valves/Cylinder...",5
485,33.5,Jun 2011,Porsche,Cayenne,Petrol,Automatic,Mumbai,29000,Blue,First,"4806 cc, 8 Cylinders In V Shape, 4 Valves/Cyli...",5
486,20,Jun 2016,Mercedes-Benz,GLA,Petrol,Automatic,Mumbai,33000,Red,Second,"1991 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
487,22.5,Jun 2014,Audi,Q7,Diesel,Automatic,Mumbai,107000,Blue,Second,"2967 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",7
488,42.5,Jun 2015,Mercedes-Benz,GLE,Diesel,Automatic,Mumbai,49000,White,First,"2987 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",5
489,20.5,Jun 2016,Mercedes-Benz,GLA,Petrol,Automatic,Mumbai,36000,White,First,"1991 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
490,6.5,Jun 2011,Hyundai,Santa Fe,Diesel,Manual,Navi Mumbai,170000,White,Third,"2199 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",7
491,32,Jun 2016,Mercedes-Benz,GLC,Diesel,Automatic,Mumbai,65121,White,Second,"2143 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
492,8.95,Jun 2018,Tata,Hexa,Diesel,Manual,Mumbai,77500,White,Second,"2179 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",7
493,27.95,Jun 2017,Toyota,Fortuner,Diesel,Manual,Mumbai,22700,White,First,"2755 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",7

In [50]:
suv_mum = suv_mum.iloc[247:,:]
suv_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating
247,9.85,Jun 2018,Maruti Suzuki,Vitara Brezza,Diesel,Manual,Thane,34123,Blue,First,"1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
248,24,Jan 2016,Mercedes-Benz,GLA,Petrol,Automatic,Mumbai,48305,White,First,"1991 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
249,14.11,Mar 2018,Hyundai,Creta,Petrol,Automatic,Mumbai,38000,Grey,First,"1591 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
250,54.5,Aug 2018,Mercedes-Benz,GLE,Diesel,Automatic,Mumbai,22719,Black,First,"2143 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5
251,4.15,Jun 2011,Mahindra,Scorpio,Diesel,Manual,Thane,88258,Grey,First,"2179 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",7 & 9

In [51]:
hatch_mum['Body'] = 'hatchback'
suv_mum['Body'] = 'SUV'

In [52]:
suv_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
247,9.85,Jun 2018,Maruti Suzuki,Vitara Brezza,Diesel,Manual,Thane,34123,Blue,First,"1248 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,SUV
248,24,Jan 2016,Mercedes-Benz,GLA,Petrol,Automatic,Mumbai,48305,White,First,"1991 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,SUV
249,14.11,Mar 2018,Hyundai,Creta,Petrol,Automatic,Mumbai,38000,Grey,First,"1591 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,SUV
250,54.5,Aug 2018,Mercedes-Benz,GLE,Diesel,Automatic,Mumbai,22719,Black,First,"2143 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,SUV
251,4.15,Jun 2011,Mahindra,Scorpio,Diesel,Manual,Thane,88258,Grey,First,"2179 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",7 & 9,SUV

In [66]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)
url = 'https://www.carwale.com/'
driver.get(url)
time.sleep(5)
clk = driver.find_element_by_xpath('//div[@class="o-bfyaNx o-dJmcbh o-eCFISO o-djSZRV o-fEEqXL o-bXKmQE"]')
clk.click()
time.sleep(2)
key1 = driver.find_element_by_xpath('//input[@class="o-dqBOwT o-cKuOoN o-eZCpVk o-bfyaNx o-eZTujG o-jjpuv o-fzptVd o-fzptYr o-fEEqXL o-eKWNKE o-bIMsfE o-ItVGT  o-fznJFI E6NC89 _2XUNC9 _2aq9yP  E6NC89 "]')
key1.send_keys('Mumbai')
time.sleep(1)
clk1 = driver.find_element_by_xpath('//div[@class="o-lIIwF"]')
clk1.click()
time.sleep(10)

In [68]:
srch = driver.find_element_by_xpath('//input[@class="cityName ui-autocomplete-input blur inputBlur"]')
srch.send_keys('Mumbai, Maharashtra')
time.sleep(1)
srch.send_keys(Keys.ENTER)
time.sleep(6)
bod = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/h3')
bod.click()
time.sleep(3)

In [69]:
hat = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/div/ul/li[7]/span[1]')
hat.click()

In [70]:
for i in range(0,500):
    driver.execute_script("window.scrollBy(0,5000)")
    driver.execute_script("window.scrollBy(0,-500)")

In [71]:
sdn_url = []
sdn = driver.find_elements_by_xpath('//a[@id="linkToDetails"]')

for i in sdn:
    sdn_url.append(i.get_attribute('href'))
len(sdn_url)

246

In [72]:
sprice = []
syear = []
smake = []
smodel = []
sfuel = []
strans = []
slocation = []
smile = []
scolor = []
sowner =[]
sengine = []
sseating = []

for link in sdn_url:
    driver.get(link)
    time.sleep(3)
    try:
        pri = driver.find_element_by_xpath('//p[@class="used-actual"]')
        sprice.append(pri.text.replace('â‚¹','').replace('Lakh',''))
    except NoSuchElementException:
        sprice.append('-')
        
    try:
        yea = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[2]//div[2]')
        syear.append(yea.text)
    except NoSuchElementException:
        syear.append('-')
        
    try:
        mak = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[4]/a/span')
        smake.append(mak.text)
    except NoSuchElementException:
        smake.append('-')
        
    try:
        fu = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[4]//div[2]')
        sfuel.append(fu.text)
    except NoSuchElementException:
        sfuel.append('-')
        
    try:
        tr = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[5]//div[2]')
        strans.append(tr.text)
    except NoSuchElementException:
        strans.append('-')
        
    try:
        loc = driver.find_element_by_xpath('//div[@class="inline-block carlocationTxt break-word"]//p//span')
        slocation.append(loc.text)
    except NoSuchElementException:
        slocation.append('-')
        
    try:
        mod = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[5]/a/span')
        smodel.append(mod.text)
    except NoSuchElementException:
        smodel.append('-')
        
    try:
        mil = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[3]//div[2]')
        smile.append(mil.text.replace(',','').replace('km',''))
    except NoSuchElementException:
        smile.append('-')

    try:
        col = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[7]//div[2]')
        scolor.append(col.text)
    except NoSuchElementException:
        scolor.append('-')

    try:
        own = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[9]//div[2]')
        sowner.append(own.text)
    except NoSuchElementException:
        sowner.append('-')
    time.sleep(2)

    try:
        driver.find_element_by_xpath('//div[@class="cw-tabs cw-tabs-flex cw-tabs-inner-margin0"]//li[3]').click()
        time.sleep(2)
        eng = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[1]/div[2]')
        sengine.append(eng.text)
    except NoSuchElementException:
        sengine.append('-')
        
    try:
        sea = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[3]/div[4]')
        sseating.append(sea.text.replace('Person',''))
    except NoSuchElementException:
        sseating.append('-')

In [74]:
sdn_mum = pd.DataFrame({})
sdn_mum['price'] = sprice
sdn_mum['year'] = syear
sdn_mum['make'] = smake
sdn_mum['model'] = smodel
sdn_mum['fuel'] = sfuel
sdn_mum['trans'] = strans
sdn_mum['location'] = slocation
sdn_mum['mile'] = smile
sdn_mum['color'] = scolor
sdn_mum['owner'] = sowner
sdn_mum['engine'] = sengine
sdn_mum['seating'] = sseating
sdn_mum['Body'] = 'sedan'
sdn_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
0,12.58,Jan 2011,Mercedes-Benz,C-Class,Petrol,Automatic,Mumbai,66700,White,First,"1796 cc, 4 Cylinders",5,sedan
1,18.9,Jun 2017,Skoda,Octavia,Diesel,Automatic,Mumbai,27000,Black,First,"1968 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,sedan
2,19.5,Jun 2014,Jaguar,XF,Diesel,Automatic,Mumbai,61000,White,First,"2179 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,sedan
3,24.5,Jun 2019,Skoda,Superb,Petrol,Automatic,Mumbai,17000,White,First,"1798 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,sedan
4,12.5,Jun 2011,Audi,A6,Petrol,Automatic,Mumbai,40000,Black,Second,-,-,sedan

In [76]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)
url = 'https://www.carwale.com/'
driver.get(url)
time.sleep(5)
clk = driver.find_element_by_xpath('//div[@class="o-bfyaNx o-dJmcbh o-eCFISO o-djSZRV o-fEEqXL o-bXKmQE"]')
clk.click()
time.sleep(2)
key1 = driver.find_element_by_xpath('//input[@class="o-dqBOwT o-cKuOoN o-eZCpVk o-bfyaNx o-eZTujG o-jjpuv o-fzptVd o-fzptYr o-fEEqXL o-eKWNKE o-bIMsfE o-ItVGT  o-fznJFI E6NC89 _2XUNC9 _2aq9yP  E6NC89 "]')
key1.send_keys('Mumbai')
time.sleep(1)
clk1 = driver.find_element_by_xpath('//div[@class="o-lIIwF"]')
clk1.click()
time.sleep(20)

In [77]:
srch = driver.find_element_by_xpath('//input[@class="cityName ui-autocomplete-input blur inputBlur"]')
srch.send_keys('Mumbai, Maharashtra')
time.sleep(1)
srch.send_keys(Keys.ENTER)
time.sleep(6)
bod = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/h3')
bod.click()
time.sleep(3)

In [78]:
hat = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/div/ul/li[4]/span[1]')
hat.click()

In [79]:
for i in range(0,100):
    driver.execute_script("window.scrollBy(0,5000)")
    driver.execute_script("window.scrollBy(0,-500)")

In [80]:
van_url = []
van = driver.find_elements_by_xpath('//a[@id="linkToDetails"]')

for i in van:
    van_url.append(i.get_attribute('href'))
len(van_url)

54

In [82]:
vprice = []
vyear = []
vmake = []
vmodel = []
vfuel = []
vtrans = []
vlocation = []
vmile = []
vcolor = []
vowner =[]
vengine = []
vseating = []

for link in van_url:
    driver.get(link)
    time.sleep(3)
    try:
        pri = driver.find_element_by_xpath('//p[@class="used-actual"]')
        vprice.append(pri.text.replace('â‚¹','').replace('Lakh',''))
    except NoSuchElementException:
        vprice.append('-')
        
    try:
        yea = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[2]//div[2]')
        vyear.append(yea.text)
    except NoSuchElementException:
        vyear.append('-')
        
    try:
        mak = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[4]/a/span')
        vmake.append(mak.text)
    except NoSuchElementException:
        vmake.append('-')
        
    try:
        fu = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[4]//div[2]')
        vfuel.append(fu.text)
    except NoSuchElementException:
        vfuel.append('-')
        
    try:
        tr = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[5]//div[2]')
        vtrans.append(tr.text)
    except NoSuchElementException:
        strans.append('-')
        
    try:
        loc = driver.find_element_by_xpath('//div[@class="inline-block carlocationTxt break-word"]//p//span')
        vlocation.append(loc.text)
    except NoSuchElementException:
        vlocation.append('-')
        
    try:
        mod = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[5]/a/span')
        vmodel.append(mod.text)
    except NoSuchElementException:
        vmodel.append('-')
        
    try:
        mil = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[3]//div[2]')
        vmile.append(mil.text.replace(',','').replace('km',''))
    except NoSuchElementException:
        vmile.append('-')

    try:
        col = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[7]//div[2]')
        vcolor.append(col.text)
    except NoSuchElementException:
        vcolor.append('-')

    try:
        own = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[9]//div[2]')
        vowner.append(own.text)
    except NoSuchElementException:
        vowner.append('-')
    time.sleep(2)

    try:
        driver.find_element_by_xpath('//div[@class="cw-tabs cw-tabs-flex cw-tabs-inner-margin0"]//li[3]').click()
        time.sleep(2)
        eng = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[1]/div[2]')
        vengine.append(eng.text)
    except NoSuchElementException:
        vengine.append('-')
        
    try:
        sea = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[3]/div[4]')
        vseating.append(sea.text.replace('Person',''))
    except NoSuchElementException:
        vseating.append('-')

In [83]:
van_mum = pd.DataFrame({})
van_mum['price'] = vprice
van_mum['year'] = vyear
van_mum['make'] = vmake
van_mum['model'] = vmodel
van_mum['fuel'] = vfuel
van_mum['trans'] = vtrans
van_mum['location'] = vlocation
van_mum['mile'] = vmile
van_mum['color'] = vcolor
van_mum['owner'] = vowner
van_mum['engine'] = vengine
van_mum['seating'] = vseating
van_mum['Body'] = 'minivan'
van_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
0,3.85,Feb 2019,Maruti Suzuki,Eeco,CNG,Manual,Mumbai,40000,White,First,"1196 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,minivan
1,5.15,Aug 2019,Maruti Suzuki,Eeco,Petrol,Manual,Thane,6432,Grey,First,"1196 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,minivan
2,3.11,Jun 2013,Maruti Suzuki,Eeco,Petrol,Manual,Thane,48000,Grey,Second,"1196 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,minivan
3,3.65,Jun 2016,Maruti Suzuki,Eeco,CNG + Cng,Manual,Mumbai,71864,Black,Second,"1196 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,minivan
4,5.3,Jun 2020,Maruti Suzuki,Eeco,CNG + Cng,Manual,Mumbai,4400,Silver,First,"1196 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,minivan

In [88]:
driver = webdriver.Chrome("chromedriver.exe")
time.sleep(3)
url = 'https://www.carwale.com/'
driver.get(url)
time.sleep(5)
clk = driver.find_element_by_xpath('//div[@class="o-bfyaNx o-dJmcbh o-eCFISO o-djSZRV o-fEEqXL o-bXKmQE"]')
clk.click()
time.sleep(2)
key1 = driver.find_element_by_xpath('//input[@class="o-dqBOwT o-cKuOoN o-eZCpVk o-bfyaNx o-eZTujG o-jjpuv o-fzptVd o-fzptYr o-fEEqXL o-eKWNKE o-bIMsfE o-ItVGT  o-fznJFI E6NC89 _2XUNC9 _2aq9yP  E6NC89 "]')
key1.send_keys('Mumbai')
time.sleep(1)
clk1 = driver.find_element_by_xpath('//div[@class="o-lIIwF"]')
clk1.click()

In [90]:
srch = driver.find_element_by_xpath('//input[@class="cityName ui-autocomplete-input blur inputBlur"]')
srch.send_keys('Mumbai, Maharashtra')
time.sleep(1)
srch.send_keys(Keys.ENTER)
time.sleep(6)
bod = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/h3')
bod.click()
time.sleep(3)

In [91]:
hat = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/div/ul/li[2]/span[1]')
hat.click()
time.sleep(10)
hat1 = driver.find_element_by_xpath('/html/body/div[12]/form/section[2]/div[1]/div[3]/div/div[1]/div[2]/div[4]/div/ul/li[8]/span[1]')
hat1.click()

In [92]:
for i in range(0,100):
    driver.execute_script("window.scrollBy(0,5000)")
    driver.execute_script("window.scrollBy(0,-500)")

In [93]:
cpe_url = []
cpe = driver.find_elements_by_xpath('//a[@id="linkToDetails"]')

for i in cpe:
    cpe_url.append(i.get_attribute('href'))
len(cpe_url)

48

In [95]:
cprice = []
cyear = []
cmake = []
cmodel = []
cfuel = []
ctrans = []
clocation = []
cmile = []
ccolor = []
cowner =[]
cengine = []
cseating = []

for link in cpe_url:
    driver.get(link)
    time.sleep(3)
    try:
        pri = driver.find_element_by_xpath('//p[@class="used-actual"]')
        cprice.append(pri.text.replace('â‚¹','').replace('Lakh',''))
    except NoSuchElementException:
        cprice.append('-')
        
    try:
        yea = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[2]//div[2]')
        cyear.append(yea.text)
    except NoSuchElementException:
        cyear.append('-')
        
    try:
        mak = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[4]/a/span')
        cmake.append(mak.text)
    except NoSuchElementException:
        cmake.append('-')
        
    try:
        fu = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[4]//div[2]')
        cfuel.append(fu.text)
    except NoSuchElementException:
        cfuel.append('-')
        
    try:
        tr = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[5]//div[2]')
        ctrans.append(tr.text)
    except NoSuchElementException:
        ctrans.append('-')
        
    try:
        loc = driver.find_element_by_xpath('//div[@class="inline-block carlocationTxt break-word"]//p//span')
        clocation.append(loc.text)
    except NoSuchElementException:
        clocation.append('-')
        
    try:
        mod = driver.find_element_by_xpath('/html/body/div[14]/section[2]/div[1]/div[1]/div[1]/ul/li[5]/a/span')
        cmodel.append(mod.text)
    except NoSuchElementException:
        cmodel.append('-')
        
    try:
        mil = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[3]//div[2]')
        cmile.append(mil.text.replace(',','').replace('km',''))
    except NoSuchElementException:
        cmile.append('-')

    try:
        col = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[7]//div[2]')
        ccolor.append(col.text)
    except NoSuchElementException:
        ccolor.append('-')

    try:
        own = driver.find_element_by_xpath('//div[@class="overview-list padding-bottom10"]//li[9]//div[2]')
        cowner.append(own.text)
    except NoSuchElementException:
        cowner.append('-')
    time.sleep(2)

    try:
        try:
            driver.find_element_by_xpath('//div[@class="cw-tabs cw-tabs-flex cw-tabs-inner-margin0"]//li[3]').click()
            time.sleep(2)
            eng = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[1]/div[2]')
            cengine.append(eng.text)
        except NoSuchElementException:
            cengine.append('-')
    except ElementClickInterceptedException:
        cengine.append('-')
        
    try:
        sea = driver.find_element_by_xpath('//*[@id="specifications"]/div/ul/li[3]/div[4]')
        cseating.append(sea.text.replace('Person',''))
    except NoSuchElementException:
        cseating.append('-')

In [96]:
cpe_mum = pd.DataFrame({})
cpe_mum['price'] = cprice
cpe_mum['year'] = cyear
cpe_mum['make'] = cmake
cpe_mum['model'] = cmodel
cpe_mum['fuel'] = cfuel
cpe_mum['trans'] = ctrans
cpe_mum['location'] = clocation
cpe_mum['mile'] = cmile
cpe_mum['color'] = ccolor
cpe_mum['owner'] = cowner
cpe_mum['engine'] = cengine
cpe_mum['seating'] = cseating
cpe_mum['Body'] = 'coupe/convertible'
cpe_mum.head()

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
0,38.5,Jun 2013,Mercedes-Benz,E-Class,Petrol,Automatic,Mumbai,6000,Yellow,First,"3498 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
1,32,Apr 2013,BMW,6-Series,Diesel,Automatic,Navi Mumbai,34000,Black,First,"2993 cc, 6 Cylinders Inline, 4 Valves/Cylinder",5,coupe/convertible
2,77,Jun 2019,BMW,M2,Petrol,Automatic,Pune,2905,Orange,UnRegistered Car,250 Kmph,4,coupe/convertible
3,45,Jun 2010,Audi,R8,Petrol,Automatic,Pune,20519,Silver,Third,-,-,coupe/convertible
4,39.9,Dec 2015,Audi,TT,Petrol,Automatic,Mumbai,10000,White,First,"1984 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",2,coupe/convertible

In [97]:
cpe_mum

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
0,38.5,Jun 2013,Mercedes-Benz,E-Class,Petrol,Automatic,Mumbai,6000,Yellow,First,"3498 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
1,32,Apr 2013,BMW,6-Series,Diesel,Automatic,Navi Mumbai,34000,Black,First,"2993 cc, 6 Cylinders Inline, 4 Valves/Cylinder",5,coupe/convertible
2,77,Jun 2019,BMW,M2,Petrol,Automatic,Pune,2905,Orange,UnRegistered Car,250 Kmph,4,coupe/convertible
3,45,Jun 2010,Audi,R8,Petrol,Automatic,Pune,20519,Silver,Third,-,-,coupe/convertible
4,39.9,Dec 2015,Audi,TT,Petrol,Automatic,Mumbai,10000,White,First,"1984 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",2,coupe/convertible
5,45,Jun 2018,MINI,Convertible,Petrol,Automatic,Pune,10000,Blue,First,"1998 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
6,24,Jun 2010,Mercedes-Benz,SLK-Class,Petrol,Automatic,Mumbai,28531,Red,First,"1796 cc, 4 Cylinders Inline, 4 Valves/Cylinder",2,coupe/convertible
7,24,Jun 2010,Mercedes-Benz,SLK-Class,Petrol,Automatic,Mumbai,33652,Grey,First,"1796 cc, 4 Cylinders Inline, 4 Valves/Cylinder",2,coupe/convertible
8,18.25,Jun 2013,MINI,Cooper,Petrol,Automatic,Mumbai,34121,Blue,Second,-,-,coupe/convertible
9,52.5,Jan 2016,Audi,TT,Petrol,Automatic,Mumbai,19280,Blue,First,"1984 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",2,coupe/convertible
10,43.5,Jun 2015,Audi,TT,Petrol,Automatic,Pune,18000,Red,First,"1984 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",2,coupe/convertible
11,67.5,Jun 2017,Ford,Mustang,Petrol,Automatic,Mumbai,15000,Yellow,First,"4951 cc, 8 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
12,37,Mar 2015,Audi,A3,Petrol,Automatic,Mumbai,14000,Red,Third,"1798 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
13,80,Jun 2007,Bentley,Continental GTC,Petrol,Automatic,Mumbai,45000,White,Third,"5998 cc, 6 Cylinders In W Shape, 4 Valves/Cyli...",4,coupe/convertible
14,75,May 2019,BMW,Z4,Petrol,Automatic,Mumbai,4000,White,First,-,-,coupe/convertible
15,82,Mar 2013,Aston Martin,Vantage,Petrol,Automatic,Mumbai,18000,White,Second,"4735 cc, 8 Cylinders In V Shape, 4 Valves/Cyli...",2,coupe/convertible
16,75,Jun 2012,Maserati,GranTurismo,Petrol,Automatic,Pune,12000,Red,First,"4691 cc, 8 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
17,95,Mar 2017,Porsche,718,Petrol,Automatic,Mumbai,9000,Blue,First,"1988 cc, 4 Cylinders Flat, 4 Valves/Cylinder, ...",2,coupe/convertible
18,28,Jun 2013,BMW,6-Series,Diesel,Automatic,Mumbai,34512,White,Second,"2993 cc, 6 Cylinders Inline, 4 Valves/Cylinder",5,coupe/convertible
19,34.95,Jun 2012,Audi,RS5,Petrol,Automatic,Mumbai,22000,Blue,First,"4163 cc, 8 Cylinders In V Shape, 4 Valves/Cyli...",5,coupe/convertible
20,32,Mar 2013,BMW,6-Series,Diesel,Automatic,Mumbai,41000,Black,First,"2993 cc, 6 Cylinders Inline, 4 Valves/Cylinder",5,coupe/convertible
21,75,Aug 2017,Mercedes-Benz,SLC,Petrol,Automatic,Mumbai,6000,Red,First,"2996 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",2,coupe/convertible
22,65,Jun 2013,Jaguar,F-type,Petrol,Automatic,Pune,19500,Red,Third,"2995 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",2,coupe/convertible
23,55,Apr 2017,Audi,A3,Petrol,Automatic,Mumbai,20390,White,First,"1798 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
24,69.9,Apr 2014,BMW,M6,Petrol,Manual,Mumbai,9000,White,Second,-,-,coupe/convertible
25,69.9,Oct 2018,Audi,A5 Cabriolet,Diesel,Automatic,Mumbai,1400,Blue,First,"1968 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
26,33,Jan 2012,BMW,3-Series,Diesel,Automatic,Mumbai,38173,White,Second,-,-,coupe/convertible
27,1.15 Crore,Jun 2016,Porsche,911,Petrol,Automatic,Mumbai,13000,Yellow,First,"3800 cc, 6 Cylinders Flat, 4 Valves/Cylinder, ...",4,coupe/convertible
28,38.5,Jun 2012,BMW,6-Series,Diesel,Automatic,Mumbai,14000,White,UnRegistered Car,"2993 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
29,53.5,Jun 2017,Mercedes-Benz,C-Class Cabriolet,Petrol,Automatic,Mumbai,4000,Black,Second,"1991 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
30,46.5,Jan 2021,MINI,Convertible,Petrol,Automatic,Mumbai,2800,Red,First,"1998 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
31,33.95,Jan 2016,Audi,A3,Petrol,Automatic,Mumbai,14125,Red,First,"1798 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
32,75,Jun 2008,Bentley,Continental GT,Petrol,Automatic,Mumbai,6000,Maroon,First,"5998 cc, 12 Cylinders In W Shape, 4 Valves/Cyl...",4,coupe/convertible
33,45,Jun 2018,MINI,Convertible,Petrol,Automatic,Pune,10000,Blue,First,"1998 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
34,55,Jun 2017,Mercedes-Benz,GLC Coupe,Petrol,Automatic,Mumbai,40000,Red,First,"2996 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
35,1.15 Crore,Jun 2016,BMW,i8,Petrol,Automatic,Mumbai,11000,Blue,First,"1499 cc, 3 Cylinders Inline, 4 Valves/Cylinder...",4,coupe/convertible
36,70.5,Jun 2017,Mercedes-Benz,SLC,Petrol,Automatic,Mumbai,22000,Black,First,"2996 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",2,coupe/convertible
37,1.25 Crore,Jun 2011,Bentley,Continental GT,Petrol,Automatic,Pune,10000,Grey,Second,"5998 cc, 12 Cylinders In W Shape, 4 Valves/Cyl...",4,coupe/convertible
38,18.5,Jun 2004,Lexus,SC,Petrol,Automatic,Mumbai,30000,White,Second,-,-,coupe/convertible
39,42,Mar 2012,Audi,RS5,Petrol,Automatic,Mumbai,24500,Blue,Second,"4163 cc, 8 Cylinders In V Shape, 4 Valves/Cyli...",5,coupe/convertible
40,45,Jul 2011,Mercedes-Benz,SL,Petrol,Automatic,Mumbai,19710,White,Second,"3498 cc, In V Shape",80 litres,coupe/convertible
41,20,Dec 2008,Audi,TT,Petrol + Petrol,Automatic,Mumbai,34000,Ibis White,Third,"3189 cc, 6 Cylinders In V Shape, 4 Valves/Cyli...",4,coupe/convertible
42,9.9,Aug 2011,BMW,3-Series,Diesel + Diesel,Automatic,Mumbai,86000,White,Second,-,-,coupe/convertible
43,1.5,Apr 2011,Chevrolet,Beat,Petrol + Petrol,Manual,Mumbai,89000,Sandrif Grey,First,"1199 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,coupe/convertible
44,1.3,Nov 2011,Chevrolet,Beat,Petrol,Manual,Kalyan,56000,Misty Lake,Second,"1199 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,coupe/convertible
45,48,Jun 2013,BMW,6-Series,Petrol,Automatic,Mumbai,30000,Yellow,First,Petrol,-,coupe/convertible
46,3 Crore,Apr 2020,Lamborghini,Huracan,Petrol,Automatic,Mumbai,1000,Grigio Titans,First,"5204 cc, 10 Cylinders In V Shape, 4 Valves/Cyl...",2,coupe/convertible
47,8.5,Mar 2011,BMW,3-Series,Diesel,Automatic,Mumbai,50000,Silver,Second,-,-,coupe/convertible

In [98]:
cars_mumbai = pd.concat([hatch_mum, suv_mum, sdn_mum,cpe_mum], axis = 0, ignore_index = True)

In [100]:
cars_mumbai

,price,year,make,model,fuel,trans,location,mile,color,owner,engine,seating,Body
0,3.35,2011.0,Hyundai,i20,Petrol,Manual,Thane,19130,White,First,-,-,hatchback
1,4.2,2014.0,Maruti Suzuki,Swift,Petrol,Manual,Thane,56123,Red,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,hatchback
2,5.65,2017.0,Hyundai,Grand i10,Petrol,Automatic,Mumbai,44284,White,First,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,hatchback
3,10.74,2020.0,Volkswagen,Polo,Petrol,Automatic,Mumbai,9100,Red,UnRegistered Car,"1197 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,hatchback
4,3.2,2013.0,Maruti Suzuki,Wagon R,Petrol,Manual,Mumbai,41846,Brown,First,"998 cc, 3 Cylinders 4 Valves/Cylinder",5,hatchback
...,...,...,...,...,...,...,...,...,...,...,...,...,...
782,1.5,Apr 2011,Chevrolet,Beat,Petrol + Petrol,Manual,Mumbai,89000,Sandrif Grey,First,"1199 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,coupe/convertible
783,1.3,Nov 2011,Chevrolet,Beat,Petrol,Manual,Kalyan,56000,Misty Lake,Second,"1199 cc, 4 Cylinders Inline, 4 Valves/Cylinder...",5,coupe/convertible
784,48,Jun 2013,BMW,6-Series,Petrol,Automatic,Mumbai,30000,Yellow,First,Petrol,-,coupe/convertible
785,3 Crore,Apr 2020,Lamborghini,Huracan,Petrol,Automatic,Mumbai,1000,Grigio Titans,First,"5204 cc, 10 Cylinders In V Shape, 4 Valves/Cyl...",2,coupe/convertible
786,8.5,Mar 2011,BMW,3-Series,Diesel,Automatic,Mumbai,50000,Silver,Second,-,-,coupe/convertible

In [102]:
cars_mumbai.to_csv('cars_mumbai',index = False)